.header-post
  .posts-header-logo
    = link_to image_tag("https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", :size =>'200x300'),root_path
.middle-box-posts
  .middle-contents-posts
    .middle-contents-header
      新規会員登録
    .middle-contents-bottom-posts

      =link_to user_data_signup_index_path, class: "middle-contents-bottom-posts__btn" do
        &ensp;
        = fa_icon 'envelope lg'
        &emsp;&emsp;&emsp; メールアドレスで登録する
      =link_to social_user_facebook_omniauth_authorize_path, class: "middle-contents-bottom-posts__btn middle-contents-bottom-posts__btn--facebook" do
        &ensp;
        = fa_icon 'facebook lg'
        &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;  Facebookで登録する
      =link_to social_user_google_oauth2_omniauth_authorize_path, class: "middle-contents-bottom-posts__btn middle-contents-bottom-posts__btn--google" do
        &ensp;
        = fa_icon 'google lg'
        &ensp; &ensp; &ensp; &ensp; &ensp; Googleで登録する
.board
.foot
  .footer-contents
    .footer-contents__text
      =link_to "https://www.facebook.com/" do
        プライバシーポリシー&ensp;
      =link_to "https://www.facebook.com/" do
        メルカリ利用規約&ensp;
      =link_to "https://www.facebook.com/" do
        特定商取引に関する表記
    .footer-logo
      = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg', :size =>'200x100'
    .footer-date
      © 2019 Mercari
