.default_container
  = render "shared/header-login"

  .body
    .slider
      .slider_box
        = image_tag '//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?3296506464',:class => "slider-img"


    .contents_header
      %h2 人気のカテゴリー
      .contents_header_tags
        %ul.contents_header_buttons
          %li.button レディース
          %li.button メンズ
          %li.button 家電・スマホ・カメラ
          %li.button おもちゃ・ホビー・グッズ

    .contents
      .contents__body
        .contents__body__subtitle
          %h3 レディース新着アイテム
          %a もっと見る
        .contents__body__wrapper
          = render 'items/content'
        .contents__body__subtitle
          %h3 メンズ新着アイテム
          %a もっと見る
        .contents__body__wrapper
          = render 'items/content_two'
    .aside
  = render "shared/footer"
