.mypage__main
  .mypage__main__user
    %figure
      = image_tag 'commons/user-icon.png', width: '60', height: '60'
    %h2.mypage__main__user__name
      user
      / 現在ログイン中のユーザー名
    %ul.mypage__main__user__evaluation
      %li.mypage__main__user__evaluation__number
        %h 
          評価
          %span
            0
      %li.mypage__main__user__evaluation__myitem
        %h 
          出品数
          %span
            0
  .mypage__main__infomation
    %ul.mypage__main__infomation__tabs
      %li.mypage__main__infomation__tabs__title1 
        お知らせ
      %li.mypage__main__infomation__tabs__title2
        やることリスト
    .mypage__main__infomation__contents
      %li.mypage__main__infomation__contents__list
        %figure
          = image_tag 'commons/mercari_profile.png', width: '48', height: '48'
        %div.mypage__main__infomation__contents__list__body
          %div.mypage__main__infomation__contents__list__body__text
            【今日まで！】本などをバーコード出品するだけで最大500ポイントもらえる！
          %div.mypage__main__infomation__contents__list__body__time
            %span 1日前
      %li.mypage__main__infomation__contents__go-list
        - @item.each do |i|
          = link_to "/commodity/#{i.id}"  do
            .ex_list
              .ex_img
                = i.image
              .ex_name  
                = i.name 
    -#     - @item.each do |i|
    -# = link_to "/show/#{i.id}"  do
    -#   - i.id
    -#   .content
    -#     .content__image 
    -#       = i.image
    -#       = i.price
        .content__description
          = i.description
    %ul.mypage__main__buyinghistory
      .mypage__main__buyinghistory__top
        購入した商品
      .mypage__main__buyinghistory__tabs
        %li.mypage__main__buyinghistory__tabs__title1
          = link_to '取引中', class: 'mypage__main__buyinghistory__tabs__title1__text' 
        %li.mypage__main__buyinghistory__tabs__title2
          = link_to '過去の取引', class: 'mypage__main__buyinghistory__tabs__title__text'
      .mypage__main__buyinghistory__content
        %ul.mypage__main__buyinghistory__content__now
          %li.mypage__main__buyinghistory__content__now__dealing
            取引中の商品がありません
          %li.mypage__main__buyinghistory__content__now__dealt