.wrap
  .default-container
    = render "shared/header"
  .mypages
    =render partial: "mypages/sidebar"
    .user-info-container
      %section.container
        %h2.container__head 本人情報の登録
        = form_with url: mypage_path(@user), class: "container__body" do |f|
          %div
            %p お客さまの本人情報をご登録ください。
            %p 登録されたおなまえ・生年月日を変更する場合、本人確認の提出が必要になります。
            = link_to root_path , class: 'link-right' do
              本人確認書類のアップデートについて
              %i.fa.fa-chevron-right
          .container__body--group
            %label お名前
            %p
              #{@user.first_name} #{@user.last_name}
          .container__body--group
            %label お名前カナ
            %p
              #{@user.first_name_kana} #{@user.last_name_kana}
          .container__body--group
            %label 生年月日
            %div.user_birthday
              #{@user.birthdate_year}年
              .p
              #{@user.birthdate_month}月
              .p
              #{@user.birthdate_day}日
          .container__body--group
            %label{for: "zip_code"} 郵便番号
            %span.form-arbitrary 任意
            %input{type: "text", value_name: "zip_code", placeholder: "例)1234567", class: "input_default", kl_vkbd_parsed: "true"}
          .container__body--group
            %label{for: "prefecture"} 都道府県
            %span.form-arbitrary 任意
            .group-select_wrap
              %i.icon-arrow-bottom
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name,{prompt: "---"}, {class: "select-default"}
          .container__body--group
            %label{for: "city"} 市区町村
            %span.form-arbitrary 任意
            %input{type: "text", value_name: "city", placeholder: "例) 横浜市緑区", class: "input_default", kl_vkbd_parsed: "true"}
          .container__body--group
            %label{for: "address1_label"} 番地
            %span.form-arbitrary 任意
            %input{type: "text", value_name: "address1", placeholder: "例) 青山1-1-1", class: "input_default", kl_vkbd_parsed: "true"}
          .container__body--group
            %label{for: "address2_label"} 建物名
            %span.form-arbitrary 任意
            %input{type: "text", value_name: "address2", placeholder: "例) 柳ビル103", class: "input_default", kl_vkbd_parsed: "true"}
          = f.submit '登録する', class: 'btn-defualt btn-red' do
            .btn-defualt
          .container__footer--text-right
            = link_to root_path , class: 'link-right2' do
              本人確認の登録について
              %i.fa.fa-chevron-right
  .aside
    = render "shared/footer"