.contents__body__wrapper__list
  .content
    .content__image 
      = image_tag 'https://sociorocketnews.files.wordpress.com/2019/09/mokichi0012.jpg', :class => "content-img"
      %span ¥1000
    .content__description
      カリカリ
  .content
    .content__image
      = image_tag 'https://sociorocketnews.files.wordpress.com/2019/09/mokichi0012.jpg', :class => "content-img"
      %span ¥1000
    .content__description
      チャオツール
  .content
    .content__image
      = image_tag 'https://sociorocketnews.files.wordpress.com/2019/09/mokichi0012.jpg', :class => "content-img"
      %span ¥1000
    .content__description
      マタタビ
  .content
    .content__image
      = image_tag 'https://sociorocketnews.files.wordpress.com/2019/09/mokichi0012.jpg', :class => "content-img"
      %span ¥1000
    .content__description
      猫じゃらし
  .content
    .content__image
      = image_tag 'https://sociorocketnews.files.wordpress.com/2019/09/mokichi0012.jpg', :class => "content-img"
      %span ¥1000
    .content__description
      猫
  .content
    .content__image
      = image_tag 'https://sociorocketnews.files.wordpress.com/2019/09/mokichi0012.jpg', :class => "content-img"
      %span ¥1000
    .content__description
      ツータックのシャツ
  .content
    .content__image
      = image_tag 'https://sociorocketnews.files.wordpress.com/2019/09/mokichi0012.jpg', :class => "content-img"
      %span ¥1000
    .content__description
      カッターシャツ
  .content
    .content__image
      = image_tag 'https://sociorocketnews.files.wordpress.com/2019/09/mokichi0012.jpg', :class => "content-img"
      %span ¥1000
    .content__description
      ポロシャツ
  .content
    .content__image
      = image_tag 'https://sociorocketnews.files.wordpress.com/2019/09/mokichi0012.jpg', :class => "content-img"
      %span ¥1000
    .content__description
      T-シャツ
  .content
    .content__image
      = image_tag 'https://sociorocketnews.files.wordpress.com/2019/09/mokichi0012.jpg', :class => "content-img"
      %span ¥1000
    .content__description
      Yシャツ