.contents__body__wrapper__list
  - @item.each do |i|
    = link_to "/show/#{i.id}"  do
      - i.id
      .content
        .content__image 
          = i.image
          = i.price
        .content__description
          = i.description
  
   
    
  

  