.contents__body__wrapper__list
  - @item.each do |i|
    = link_to item_path(i)  do
      - i.id
      .content
        .content__image
          - if i.images.count > 0
            %span.content-price
              = "¥ #{i.price}"
            = image_tag i.images.first.variant(resize: "188x188")
        .content__description
          = i.name
        - if i.purchaser_id.present? 
          .items-box_photo__sold
            .items-box_photo__sold__inner
              SOLD          
     