.header-post
  .posts-header-logo
    = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg', :size =>'200x300' 
.middle-box-buy
  .middle-contents-buy  
    .middle-contents-header
      購入内容の確認
    .box-a
      .box-a__image
        #{@item.image}
      .box-a__text
        #{@item.name}
        %br
        ¥#{@item.price}
    .point 
      ポイント 
    .pay-mon  
      支払金額&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; ¥#{@item.price}
    .buy-btn   
      = form_tag(pay_path, method: :post) do
      //  %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "購入する" ,"data-key" => Rails.application.credentials.payjp[:PAYJP_PUBLIC_KEY]}  
    
.board
.foot
  .footer-contents
    .footer-contents__text
      =link_to "https://www.facebook.com/" do 
        プライバシーポリシー&ensp;  
      =link_to "https://www.facebook.com/" do   
        メルカリ利用規約&ensp; 
      =link_to "https://www.facebook.com/" do  
        特定商取引に関する表記
    .footer-logo
      = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/jp/logo_vertical.png?2561606804', :size =>'200x100'
    .footer-date  
      © 2019 Mercari    
                