.default_container

  .header
    .header_container
      .upper_container
        .logo
          = link_to image_tag('https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg')
        .searchbox
          %form(action="https://www.mercari.com/jp/search/" class="pc-header-form")
            %input(class="input-default" name="keyword" placeholder="何かお探しですか？" type="“search”" value="")/
            %i(class="icon-search")
      .lower_container
        .lower_container__left
          .category
            = link_to "#" do
              = fa_icon "th-list" ,text: "カテゴリーから探す"
            .category__pulldown
              %ul.category__pulldown__lists
          .brand
            = link_to "#" do
              = fa_icon "tags",text: "ブランドから探す"
            .brand__pulldown
              %ul.brand__pulldown__list
        .lower_container__right
          %ul.navis
            %a.navi
              = link_to "#" do
                = fa_icon "heart", text: "いいね！一覧"
            %a.navi
              = link_to "#" do
                = fa_icon "bell", text: "お知らせ"
            %a.navi
              = link_to "#" do
                = fa_icon "check", text: "やることリスト"
            %a.navi 
              = link_to "マイページ"


  .body
    .slider
      .slider_box
        = image_tag '//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?3296506464',:class => "slider-img"


    .contents_header
      %h2 人気のカテゴリー
      .contents_header_tags
        %ul.contents_header_buttons
          %li.button レディース
          %li.button メンズ
          %li.button 家電・スマホ・カメラ
          %li.button おもちゃ・ホビー・グッズ

    .contents
      .contents__body
        .contents__body__subtitle
          レディース新着アイテム
        .contents__body__wrapper
          .contents__body__wrapper__list
            .content
              .content__image
                画像
              .content__description
                テキスト
            .content
              .content__image
                画像
              .content__description
                テキスト
            .content
              .content__image
                画像
              .content__description
                テキスト
            .content
              .content__image
                画像
              .content__description
                テキスト
            .content
              .content__image
                画像
              .content__description
                テキスト

    .aside

  .footer
    %ul.navs
      %li.nav
        %h2.nav__head メルカリについて
        %ul
          %li
            = link_to "会社概要（運営会社）","https://about.mercari.com/"
          %li
            = link_to "採用情報", "https://www.mercari.com/jp/jobs/"
          %li
            = link_to "プレスリリース", "https://about.mercari.com/press/news/"
          %li
            = link_to "公式ブログ", "https://jp-news.mercari.com/"
          %li
            = link_to "メルカリロゴ利用ガイドライン", "https://www.mercari.com/jp/logo-guidelines/"
      %li.nav
        %h2.nav__head ヘルプ＆ガイド
        %ul
          %li
            = link_to "メルカリガイド", "https://www.mercari.com/jp/help_center/"
          %li
            = link_to "らくらくメルカリ便", "https://www.mercari.com/jp/rakuraku-mercari/"
          %li
            = link_to "ゆうゆうメルカリ便", "https://www.mercari.com/jp/yuyu-mercari/"
          %li
            = link_to "大型メルカリ便", "https://www.mercari.com/jp/rakuraku-ogata/"
          %li
            = link_to "車体取引ガイド", "https://www.mercari.com/jp/guide/car/"
          %li
            = link_to "メルカリあんしん・あんぜん宣言！", "https://www.mercari.com/jp/safe/description/"
          %li
            = link_to "偽ブランド品撲滅への取り組み", "https://www.mercari.com/jp/authenticity/"
          %li
            = link_to "メルカリボックス", "https://www.mercari.com/jp/box/"
      %li.nav
        %h2.nav__head プライバシーと利用規約
        %ul
          %li
            = link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
          %li
            = link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
          %li
            = link_to "あんしんスマホサポート制度に関する利用特約", "https://www.mercari.com/jp/tos_smartphone_support/"
          %li
            = link_to "コンプライアンスポリシー", "https://www.mercari.com/jp/compliance/"
          %li
            = link_to "個人データの安全管理に係る基本方針", "https://www.mercari.com/jp/data_security/"
          %li
            = link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
          %li
            = link_to "資金決済法に基づく表示", "https://www.mercari.com/jp/shikin_kessai/"
          %li
            =link_to "法令順守と犯罪抑止のために", "https://about.mercari.com/csr/safety/"
      %li.nav
        %h2.nav__head 国
        %ul
          %li
            = link_to "日本", "https://www.mercari.com/jp/"
          %li
            = link_to "United States", "https://www.mercari.com/"
    .footer--last
      %a.logo
        = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"
      %a.copy_right
        ©2019 Mercari