.default_container
  -if user_signed_in?
    = render "shared/header"
  -else
    = render "shared/header-login"
  .body
    .body_main
      .slider
        .slider_box
          = image_tag '//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?3296506464',:class => "slider-img"
      .contents_header
        %h2 人気のカテゴリー
        .contents_header_tags
          %ul.contents_header_buttons
            %li.button レディース
            %li.button メンズ
            %li.button 家電・スマホ・カメラ
            %li.button おもちゃ・ホビー・グッズ 
      .contents
        .contents__body
          .contents__body__subtitle
            %h3.right_title レディースアイテム
            %a.left_title もっと見る 〉
          .contents__body__wrapper
            = render 'items/content'
        .contents__body
          .contents__body__subtitle
            %h3.right_title メンズアイテム
            %a.left_title もっと見る 〉
          .contents__body__wrapper
            = render 'items/content'
    .new_item_button
      = link_to new_item_path do
        .new_item_button__content
          %p 出品
          = fa_icon "camera"

  = render "shared/footer"
  

