.wrap
  .default_container
    = render "shared/header"
    .item-box
      .item-box--name
        #{@item.name}
      .item-box--content.clearfix
        .photos
          %ul.photos--main
            - @item.images.each_with_index do |image, i|
              %li.photos--main__piece
                = image_tag @item.images[i].variant(resize:'300x300',auto_orient: true).processed
          %ul.photos--thumb
            - @item.images.each_with_index do |image, i|
              %li.photos--thumb__piece
                = image_tag @item.images[i].variant(resize:'60x60',auto_orient: true).processed
        %table.item-detail-table
          %tbody
            %tr
              %th.left 出品者
              %td.right #{@item.user.nickname}
            %tr
              %th.left カテゴリー
              %td.right #{@item.category}
            %tr
              %th.left
                ブランド
              %td.right #{@item.brand}
            %tr
              %th.left 商品のサイズ
              %td.right
            %tr
              %th.left
                商品の状態
              %td.right #{@item.status}
            %tr
              %th.left
                配送料の負担
              %td.right  #{@item.cost}
            %tr
              %th.left 配送の方法
              %td.right
                ゆうゆうメルカリ便
            %tr
              %th.left
                配送元の地域
              %td.right #{@item.area}
            %tr
              %th.left 発送日の目安
              %td.right
      .item-box--price
        %span.item-box--price__bold
          ¥#{@item.price}
        %span.item-box--price__tax (税込)
        %span.item-box--price__fee 送料込み
      .bottom-content
        - if current_user == @item.user_id
          = render partial: "shared/item-buyer"
        - else
          = render "shared/edit-btn"
= render "shared/footer"